+++
title = "Goldydocs"
linkTitle = "Goldydocs"

+++

{{< blocks/cover image_anchor="center" height="full" color="orange" >}}
<div class="d-flex flex-column justify-content-end align-items-start cover-text">
	<h1>HCIENTIST</h1>
	<h2>Michael Stewart, Asst. Prof. CS@JMU</h2>
	<p class="text-left">I am an Assistant Professor of Computer Science at James Madison University in the beautiful Shenandoah Valley of Virginia, USA. I primarily teach Introduction to Programming (CS 149), Advanced Programming (CS 159, anticipated), Designing Interactive Systems (CS 480 and CS 447), and Front-End Web Development (CS 347). My teaching interests include recruiting students from diverse backgrounds (with respect to academic interests, but especially with respect to demographics) and finding parts of the design and computing fields that serve them in following their passions.</p>
	<p class="text-left">My research interests fall under the enormous umbrella of Human Computer Interaction. More specifically I am interested in studying (and designing for) people’s interpersonal interactions and relationships, especially when their interaction is mediated by technology. I am interested in designing novel technological support for the subtle and delicate [sociality]” of human relationships. Of course being primarily interested in teaching, I often cross the streams and design and study these research interests in the context of education and the classroom.</p>

	<div class="align-self-center">
		{{< blocks/link-down color="info"  >}}
	</div>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Goldydocs provides a single web UI providing visibility into porridge temperature, chair size, and bed softness metrics! You can even find out who's been eating **your** porridge.

(Sadly, Goldydocs isn't a real project, but you can use this site as an example to create your own real websites with [Docsy](https://docsy.dev))
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="New chair metrics!" %}}
The Goldydocs UI now shows chair size metrics by default.

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/docsydocs" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">This is the second Section</h1>
</div>

{{< /blocks/section >}}



{{< blocks/section >}}
{{% blocks/feature icon="fab fa-app-store-ios" title="Download **from AppStore**" %}}
Get the Goldydocs app!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/GoHugoIO" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">This is another Section</h1>
</div>

{{< /blocks/section >}}
